    <div class="container">
      <div class="col1">
        <h2>Be Well</h2>
        <p> Be well provides progressive, and affordable healthcare, tracking,<br> Monitoring
          for everyone</p>
          <p class="copyright">© Be will  2024. All rights reserved</p>
      </div>
      <div class="col2">
         <div class="data1">
          <h3>Company</h3>
          <ul>
           <li class=""><a href=""> About</a></li>
           <li><a href="home">Testimonials</a></li>
           <li><a href="home">Apps</a></li>
          </ul>
         </div>
           <div class="data2">
            <h3>Help</h3>
            <ul>
              <li><a href="home"> Help Center</a></li>
              <li><a href="home">Contact support</a></li>
              <li><a href="home">Instructions</a></li>
              <li><a href="home">How it Works</a></li>
            </ul>
           </div>
      </div>
    </div>







