<div class="section">
  <div class="container">
    <div class="header">
      <h1 class="header">Edit profile</h1>
      <img src="images/profile.png" alt="">
      <div class="file-upload-wrapper">
        <input type="file" name="file-upload" id="file-upload" class="file-upload">
        <label for="file-upload" class="camera-icon">
          <i class="fas fa-camera"></i>
        </label>
      </div>
    </div>
      <form>
         <div class="name">
          <label>First Name</label>
         <input type="text" class="First" placeholder="First Name">
         <label class="second">Last Name</label>
         <input type="text" placeholder="Last Name">
         </div>
         <!-- <label class="first">Email</label>
         <input type="text" class="fin" placeholder="Last Name"> -->
         <label class="second">Address</label>
         <input type="text" placeholder="Address">
         <label class="f4">Relative Number 1</label>
         <input type="text" placeholder="Relative Number1">
         <label class="f5">Relative Number 2</label>
         <input type="text" placeholder="Relative Number2">
         <div class="name2">
          <label>City</label>
         <select name="" id="" class="s1">
          <option class="option" value="cairo">Cairo</option>
          <option class="option" value="giza">Giza</option>
          <option class="option" value="fayoum">Fayoum</option>
          <option class="option" value="alexandria">Alexandria</option>
          <option class="option" value="suez">Suez</option>
          <option class="option" value="aswan">Aswan</option>
          <option class="option" value="souhag">Souhag</option>
         </select>
         <label class="l2">Age</label>
         <input type="text">
         </div>
         <label class="third">Phone Number</label>
         <input type="text" placeholder="Phone Number">
         <div class="buttons">
           <button>Cancel</button>
           <button>Save</button>
         </div>
      </form>

  </div>
</div>
