@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.section{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 1px;
}
.section .container{
  width: 100%;

}
.section .container .banner{
 width: 100%;
 height: 350px;
 color: white;
/* padding: 50px; */
}
.banner img{
  width: 100%;
}
.section .container .banner h2 {
  margin:0;
  padding-top:10%;
  padding-left:10%;
  position: absolute;
  top: 0;
}
.section .container .detail,.section .container .detail2{
  padding:40px;
}
.section .container h1{
  color:#0F48DD;
  text-transform: capitalize;
  padding-left: 50px;
}


