<div class="section">
  <div class="container">
    <div class="login">
        <h3>welcome</h3>
        <span>Login into your account</span>
        <form>
          <label>Email address</label>
          <br>
          <input type="text" placeholder="Enter your email">
          <div class="icon1"><i class="fa-regular fa-envelope"></i></div>
          <label class="second">Password</label>
          <br>
          <input type="password" placeholder="Enter your password">
          <div class="icon2"><i class="fa-solid fa-lock"></i></div>
          <a href="#" class="forgetpassword">Forgot Password?</a>
          <a href="#" class="loginbtn">Login Now</a>
          <div class="divider">
            <h6>OR</h6>
          </div>
          <a href="#" class="Signupbtn">Signup now</a>
        </form>
    </div>
    <div class="image">
      <img src="../../images/login.png" alt="">
    </div>
  </div>
</div>
