<div class="section">
  <h1>About Us</h1>
   <div class="container">
     <div class="text">
       <h2>Welcome</h2>
       <p>
        Be Will stands to driver monitor medical system aims to <br>
        monitor the health <br>
         care of driver in which if it not normal can cause accidents and loss of life.
       </p>
   </div>
     <div class="img">
       <img src="images/aboutus1.png" alt="">
     </div>
  </div>
  <div class="container">
    <div class="img">
      <img src="images/aboutus2.png" alt="">
    </div>
    <div class="text">
      <h2>Establishing</h2>
      <p>
        Be Will website established in 2024 <br>
        We hope to make our website a leader in the field of health-focused driver monitoring systems. <br>
      </p>
  </div>

 </div>
</div>

<div class="section">

   <div class="container">
     <div class="text">
       <h2>Our Vision </h2>
       <p>
        Our mission is to revolutionize the way we approach driver <br>
        safety by  prioritizing the physical and cognitive well-being <br>
        of those behind the  wheel. We believe that by continuously <br>
        monitoring a driver's state of  health, we can proactively <br>
        identify and address potential risks,  ultimately preventing accidents and saving lives.
       </p>
   </div>
     <div class="img">
       <img src="images/about4.png" alt="">
     </div>
  </div>
  <div class="container">
    <div class="img">
      <img src="images/about3.png" alt="">
    </div>
    <div class="text">
      <h2>Our Team</h2>
      <p>
        Our team has developed a state-of-the-art Driver <br>
        Monitor Medical  System that utilizes advanced <br>
        sensors, machine learning algorithms, and  real-time <br>
        data analysis. This comprehensive system tracks a wide <br>
        range of physiological and behavioral indicators, such as <br>
        eye movements,blink  rate, heart rate variability, <br>
        and steering patterns, to detect signs of  impairment, fatigue, or distraction.
      </p>
  </div>

 </div>
</div>

<div class="section">
   <div class="container">
     <div class="text">
       <h2>Soul</h2>
       <p>

     This may sound corny, but we really do care. About our work, <br>
     our customers, our reputation and making a difference. <br>
     If there’s an X factor to choosing us, it’s our desire <br>
     to add humanity to static pages on the web
       </p>
   </div>
     <div class="img">
       <img src="images/about5.png" alt="">
     </div>
  </div>
  <div class="container">
    <div class="img">
      <img src="images/about6.png" alt="">
    </div>
    <div class="text">
      <h2> Easily Found</h2>
      <p>
       We design all of our websites to be highly optimized so they are easily <br>
       found by Google and the search engines. And we practice what we preach. <br>
       If you Google the term ‘Be Will’ (a highly competitive term.) you’ll <br>
       see that we’re consistently at the very top of Google for that result.
      </p>
  </div>

 </div>
</div>
