<div class="section">
  <h1>Your Profile</h1>
  <div class="container">
    <img src="images/profile1.png" alt="img" class="pr1">
    <img src="images/profile2.png" alt="img" class="pr2">
    <div class="details">
      <div class="card">
        <div class="card-data">
          <h2>Name</h2>
          <h3>Ahmed Adel</h3>
          <p>Driver</p>
        </div>
      </div>
      <div class="card">
        <i class="fa-solid fa-envelope"></i>
        <div class="card-data">
        <h2>Email Address</h2>
        <h3>ahmedadel&#64;gmail.com</h3>
        </div>
      </div>
      <div class="card">
        <i class="fas fa-map-marker-alt"></i>
         <div class="cart-data">
          <h2>Address</h2>
          <h3>Giza St. 34 El cooperation</h3>
         </div>
      </div>
      <div class="card">
        <i class="fas fa-phone"></i>
        <div class="cart-data">
          <h2>Phone Number</h2>
        <h3>01005256435</h3>
        </div>
      </div>
      <div class="card">
        <i class="fas fa-phone"></i>
        <div class="card-data">
          <h2>Relative Number 1</h2>
          <h3>01059376558</h3>
        </div>
      </div>
      <div class="card">
        <i class="fas fa-phone"></i>
       <div class="card-data">
        <h2>Relative Number 2</h2>
        <h3>01122347573</h3>
       </div>
      </div>
      <div class="card">
        <i class="fas fa-city"></i>
        <div class="card-data">
          <h2>City</h2>
          <h3>Cairo</h3>
        </div>
      </div>
      <div class="card">
        <i class="fas fa-birthday-cake"></i>
        <div class="card-data">
          <h2>Age</h2>
        <h3>35</h3>
        </div>
      </div>
    </div>
    <div class="meta">
      <div class="pic">
        <img src="images/profile.png" alt="">
        <a routerLink="edit-profile">Edit</a>
      </div>
      <div class="meta2">
        <h2>About</h2>
        <p>
          Ahmed Adel is professional <br>
          driver in Egypt with over 5 years of <br>
          experience has 35 years </p>
          <button><i class="fa-sharp fa-regular fa-comment"></i> Chat</button>
      </div>
    </div>

  </div>
  <button class="db">Your DashBoard</button>
</div>
