<div class="section1">
  <div class="container1">
    <div class="text">
      <h2>The Driver Monitor Medical Assistant System</h2>
      <p>is a technology based  solution designed to help monitor and assist drivers,<br> primarily focused  on improving safety and well-being.</p>
      <h3>Here are some of the key services  and features provided by our system:</h3>
      <p class="types">Driver Monitoring: <br>
        Alerts and Notifications:</p>
    </div>
    <div class="image1">
      <img src="images/service section1.png" alt="">
    </div>
  </div>
</div>
<div class="section2">
  <div class="container2">
    <div class="text">
      <h1>Safe Scenario</h1>
      <p> In that Scenario, data will be sent from sensors After it. <br>
        it has been input to the ML <br> <br>
        <span>ML Model:</span> Says it’s information in Safe Mode Will be sent to the user Profile <br> and
        sorted with Time and Date and the system will send a notification to monitoring
        Professional Doctor to see it.</p>
    </div>
    <div class="image2">
      <img src="images/service section2.png" alt="">
    </div>
  </div>
</div>
<div class="section3">
  <div class="container3">
    <div class="text">
      <h1> Scenario under a state of emergency</h1>
      <p> In that Scenario, data will be sent from sensors After it has been input to ML Model
        ML Model and it Says it’s information in under emergency Mode (such as high
        pressure)</p>
    </div>
    <div class="image3">
      <img src="images/service section3.png" alt="">
    </div>
  </div>
</div>
<div class="section4">
  <div class="container4">
    <div class="text">
      <h1>Emergency Scenario</h1>
      <p> In that Scenario, data will be sent from sensors After it has been input to the ML
        model. <br> ML Model Will Says it’s information in Emergency Mode</p>
    </div>
    <div class="image4">
      <img src="images/service secton4.png" alt="">
    </div>
  </div>
</div>
