<div class="section">
  <div class="container">
    <div class="signup">
      <h2>Create your Account</h2>
       <form>
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Confirm Email">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="text" placeholder="Phone Number">
        <a href="#" class="create">Create Account</a>
        <span>Already have an account? <a routerLink="/login" routerLinkActive="router-link-active" >Login</a></span>

       </form>
    </div>
    <div class="image">
      <img src="images/signup.png" alt="">
    </div>
</div>

</div>
